* {
  margin: 0px;
  padding: 0px;
}

.parent {
  background-color: green;
  padding: 22px;
  height: 500px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 22;
}
.p {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 600;
}
.child_container {
  width: 500px;
  background-color: aqua;
  height: 70px;
  padding: 22px;
}
.selected {
  font-size: 17px;
  font-weight: 500;
  margin-top: 12px;
}
